<section class="page_404">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 ">
               
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            متاسفانه مسیر رو اشتباه اومدی
                        </h3>

                        <p>میتونی از صفحه اول ماجراجوییت رو شروع کنی</p>

                        <a [routerLink]="['/']" class="link_404">صفحه اول</a>
                    </div>
                </div>
         
        </div>
    </div>
</section>